/* CSS Document */
html{ background-color: #f5f5f5;}
body{
	padding: 0;
	margin: 0;
        height:100%; 
}
.container{
	max-width: 1000px;
        width: 80%;
        border-radius: 15px;
        border: 5px  white solid;
        box-shadow: 0px 0px #00FFFF;
	margin: 0 auto;
}
.container header{
	max-height: 0;
	background-image: url('Images/banner.jpg');
        background-size: 100% 100%;
	padding-bottom: 25%;
}
.container nav{
	line-height: 40px;
	background-color: orangered;
	text-align: center;
	font-variant: small-caps;
	color: white;
}
.container nav a{
	color:white;
	text-decoration:none;
	margin:0 15px;
	font-size: 20px;
	text-decoration: none;
	color: white;
}
.container nav a:last-child{
	border-right: none;
	padding-right: 0;
}
.container nav a:hover{
	color: yellow;
	text-decoration: underline;
}

.container article{
	min-height:400px;
	width:75%;
	background-color:white;
	float:left;
}
.container aside{
	min-height: 400px;
	width: 25%;
	background-color: lightgray;
	float: right;
}
.container footer{
	border-top:5px double orangered;
	line-height:50px;
	background-color:lightcyan;
	text-align:center;
	font-variant:small-caps;
	clear:both; 
}

ul.format>li>a {color:yellow; text-transform: uppercase; line-height: 1.5em;}